<% @members.each do |member| %>
  <ul class="members">
    <li class="name"><%= member.name %></li>
    <li class="name"><%= member.role %></li>
    <li class="name"><%= member.house %></li>
    <li class="name"><%= member.patronus %></li>
  </ul>
<% end %>